{% extends "CS361WebApp/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'TAManager/course_time.css' %}">
{% endblock stylesheet %}
{% block content %}
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Class List</h5>
                <hr>
                <ul class="list-group">
                    {% for class in classes %}
                        <li class="list-group-item">
                            {{ class.department }}
                            {{ class.number }}
                            {{ class.section }}
                            {{ class.day }}
                            {{ class.start }}
                            {{ class.end }}
                            {{ class.instructor }}
                        </li>
                        <br/>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div style="display: table-cell;">
                    <h5 class="card-title">Priority Class List</h5>
                    <hr>
                    <ul class="list-group"></ul>
                    {% for class in x %}
                        <li class="list-group-item">
                            {{ class }}
                        </li>
                        <br/>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <h5 class="card-title">Assign Priority</h5>
                        <hr>
                        <div class="card-text">
                            {{ form }}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Assign</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}