{% extends "CS361WebApp/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'TAManager/course_time.css' %}">
{% endblock stylesheet %}
{% block content %}
<div class="card">
    <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Create Section</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-warning" type="submit">Create</button>
                </div>
            </form>
        </div>
</div>
{% endblock content %}