{% extends "CS361WebApp/base.html" %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'TAManager/home.css' %}">
{% endblock stylesheet %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="card-title"><h5>Your Class List</h5></div>
            <hr>
            <div class="card-deck">
                {% for class in courses %}
                    <div class="card">
                        <div class="card-body">
                            <div class="card-text">
                            Department: {{ class.department }}<br>
                            Number: {{ class.number }}<br>
                            Section: {{ class.section }}<br>
                            Day: {{ class.day }}<br>
                            Start Time: {{ class.start }}<br>
                            End Time: {{ class.end }}<br>
                            Instructor: {{ class.instructor }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        <br>
            <div>
                <div class="card-title"><h5>Your Information:</h5></div>
                <hr>
                <div class="card-deck">
                    {% for person in profile %}
                     <div class="card">
                        <div class="card-body">
                            <div class="card-text">
                               First Name: {{ person.firstname }}<br>
                               Last Name: {{ person.lastname }}<br>
                               Address: {{ person.address }}<br>
                               Phone Number: {{ person.phone }}<br>
                            </div>
                        </div>
                     </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock content %}