{% extends "CS361WebApp/base.html" %}
{% block content %}
    <div class="row">
        <div class="col">
            <form method="POST" action="/">
                {% csrf_token %}
                <div id="form-control" class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Class List!</h5>
                            <ul>
                            {% for class in courses %}
                                <li>{{ class.department }}
                                {{ class.number }}
                                {{ class.section }}
                                {{ class.day }}
                                {{ class.start }}
                                {{ class.end }}
                                {{ class.instructor }}
                                </li>
                            <br/>
                            {% endfor %}
                            </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}