{% extends "CS361WebApp/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'TAManager/course_time.css' %}">
{% endblock stylesheet %}
{% block content %}
{#    <div class="row">#}
{#        <div class="col">#}
    <div class="row h-100 align-items-center">
        <div id="form-wrapper">
            <h5 class="card-title"><b>Class List Priority</b></h5>
            <hr>
            <ol>
            {% for class in classes %}
                <li>{{ class }}<br></li>
            {% endfor %}
            </ol>
        </div>
    </div>
{% endblock content %}