{% extends "CS361WebApp/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h1>Welcome to TA Scheduler!</h1>
            {% if user.is_authenticated %}
            <p>Welcome to the TA Scheduling App, please click to Login!</p>
            <a href="{% url 'login' %}"><button class="btn btn-primary">Login</button></a>
            {% else %}
            Please login.
            <form method="POST" action="/">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock content %}