{% extends "CS361WebApp/base.html" %}
{% block stylesheet %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'TAManager/login.css' %}">
{% endblock stylesheet %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row h-100 align-items-center">
    <div id="form-wrapper">
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend>Log In</legend>
                    <hr>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Login</button>
                </div>
                <hr>
            </form>
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
</div>
{% endblock content %}