{% extends "CS361WebApp/base.html" %}
{% load crispy_forms_tags %}
{% block stylesheet %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'TAManager/register.css' %}">
{% endblock stylesheet %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Create Account</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-warning" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}